You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [5]:
# Write your function here
def neg(x): 
    out = -x
    return out

In [6]:
# Test your function with input x
x = 4
neg(x)

-4

In [10]:
lst = [-3, 0, 2, 100, -1, 2]
neg_nos = list(filter(lambda x: (x < 0), lst)) 
  
print("Negative numbers in the list: ", *neg_nos)

Negative numbers in the list:  -3 -1

2. Write a function that inputs a list of integers and returns the minimum value

In [17]:
# Write your function here
def get_min(x):
    current_min = x[0]
    for i in x[1:]:
        if i < current_min:
            current_min = i
    return current_min

In [18]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]
get_min(lst)

# Create you own input list to test with

-3

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [24]:
# test your challenge problem function
import numpy as np
import pandas as pd


lst1 = np.random.randint(-234, 938, 10)
lst2 = np.random.randint(-522, 123, 10)
str1 = 'one'
str2 = 'alpha'
df = pd.DataFrame({str1:lst1 , str2:lst2})
df

   one  alpha
0  567   -429
1  409   -166
2  904    -26
3  737   -402
4  569   -347
5  281   -178
6  678     47
7  862   -253
8  292   -334
9 -177    -83

In [31]:
lst = [1, 7, 3, 5]
def get_element(lst):
  new_lst = []
  for i in lst:
    new_lst.append(i**2)
    return lst[1]
lst[1]

7

In [32]:
my_dict = {'peaches':'cream', 'cat':'dog', 'this one':'that one'}
my_dict['this one']

'that one'

In [33]:
my_dict = {'peaches':'cream', 'cat':'dog', 'this one':'that one'}
my_dict['this one']

'that one'